<body>
  <script src="/javascripts/prototype.js" type="text/javascript"></script>
  <script src="/javascripts/effects.js" type="text/javascript"></script>
  <script src="/javascripts/extra_effects.js" type="text/javascript"></script>
  <script src="/javascripts/builder.js" type="text/javascript"></script>
  <script src="/javascripts/widgets.js" type="text/javascript"></script>
  <script src="/comment/javascripts/comment.js" type="text/javascript"></script>
  <script src="/content/javascripts/content.js" type="text/javascript"></script>
  <script src="/javascripts/portal.js" type="text/javascript"></script>
  <%= stylesheet_link_tag 'default'%>

  <div id="content_wrapper">
    <h1 id="content_title"><span class="titleContent"/></h1>
    <div id="content">
    </div>
  </div>
  <div id="comment_wrapper">
    <h1 id="comment_title"><span class="titleContent"/></h1>
    <div id="comment">
    </div>
  </div>
</body>